.removed-placeholder {
    background-color: rgb(233, 234, 237);
    font-size: 14pt;
    min-height: 200px;
    padding: 12px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
